<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DRTourSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63F4A6941D3FD5050061BFE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F4A6A81D3FD5050061BFE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F4A6B31D3FD5050061BFE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
