<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32A6F06F1EF26A3E005BFBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32A6F0881EF26A3E005BFBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32A6F0931EF26A3E005BFBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
